# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Datos locales
data/landing/*
data/bronze/*
data/silver/*
data/gold/*
data/spark/*

# Outputs generados
outputs/reports/*
outputs/quality/*

# Notebooks checkpoints
.ipynb_checkpoints/

# Archivos temporales
*.log
.DS_Store

#Archivos de Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars